In [1]:

if (50 > 12):
   print("Five is greater than two!")
   print("------------End of if-----")
print("----------End of Code-----------")

Five is greater than two!
------------End of if-----
----------End of Code-----------

In [6]:

if 5 > 2:                            #error because their is no indentation
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (3059337031.py, line 2)

In [4]:
if 5 > 2:
 print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [5]:

if 5 > 2:
 print("Five is greater than two!")
       print("Five is greater than two!")

IndentationError: unexpected indent (2365042487.py, line 3)

In [8]:

x = 5
y = "Hello, World!"
print(x)
print(type(x))
print(type(y))
x=True
print(type(x))

x=int(10)
print(x)
print(type(x))

5
<class 'int'>
<class 'str'>
<class 'bool'>
10
<class 'int'>

In [9]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [10]:
print("Hello, World!") #This is a comment

Hello, World!

In [11]:

#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [12]:

#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [13]:

"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [14]:

x = 5
y = "Akash"
print(x)
print(y)

5
Akash

In [15]:

x = 4 # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [16]:

x = "John"
print(type(x))
# is the same as
x = 'John'
print(type(x))
x="Student's"
print(x)
x='"Python" is interesting'
print(x)
x="a"
print(x)
print(type(x))

<class 'str'>
<class 'str'>
Student's
"Python" is interesting
a
<class 'str'>

In [17]:

#Legal variable names:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

#Illegal variable names:
#2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3840636694.py, line 11)

In [18]:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)
#x, y, z = "Orange", "Banana", "Cherry", "Apple" #too many values
#x, y, z = "Orange", "Banana" #not enough values
x,y=10, "abc"
print(x,y)
print(y)

Orange
Banana
Cherry
10 abc
abc

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:

x = "awesome"
print("Python is " + x)
x=10
print("x = "+x)

Python is awesome

TypeError: can only concatenate str (not "int") to str

In [21]:

x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [22]:
x = 5
y = 10
print(x + y)

15

In [23]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [24]:

x = "awesome"

#function definition
def myfunc():
  print("Python is " + x)

#function call
myfunc()
myfunc()
myfunc()

Python is awesome
Python is awesome
Python is awesome

In [25]:
x = "awesome"

def myfunc():
  x = "fantastic" #local copy
  print("Python is " + x)

myfunc()

print("Python is " + x) #global

Python is fantastic
Python is awesome

In [26]:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [27]:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [28]:

x = 5
print(type(x))

<class 'int'>

In [29]:
x = "Hello World"

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [30]:

x = 20

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [31]:
x = 20.5

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [32]:

x = 1j

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [33]:

name="alpana"
code=50020
print(name +"  ",code)
print("Name : %s    Code : %d" %(name,code)) #Formated output

alpana   50020
Name : alpana    Code : 50020

In [34]:

def addition(a,b):
    c=a+b
    return c

def add(a, b=5):
    c=a+b
    return c

def show(name="Alpana", code=50020, location="Nashik"):
    print(name, code , location)

show()
show("Alpana S.", 11111,"aaaaa")
show(location="MH")
show(location="Nsk", name="ALPANA")


x=addition(10,20)
print(x)
x=addition(100,4000)
print(x)

print(add(10,30))
print(add(100))

Alpana 50020 Nashik
Alpana S. 11111 aaaaa
Alpana 50020 MH
ALPANA 50020 Nsk
30
4100
40
105

In [35]:

print(2*3)
#print("2"*"3")
print("2"*3)
print(2*"3")

6
222
33

In [36]:
x = ["orange","apple", "banana", "cherry"]

#display x:
print(x)

#display the data type of x:
print(type(x))

['orange', 'apple', 'banana', 'cherry']
<class 'list'>

In [37]:

x = ("orange","apple", "banana", "cherry")

#display x:
print(x)

#display the data type of x:
print(type(x))

('orange', 'apple', 'banana', 'cherry')
<class 'tuple'>

In [38]:

x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [39]:
x = {"name" : "John", "age" : 36}

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [40]:
x = set({"apple", "banana", "cherry","apple"})

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [41]:

x = frozenset({"apple", "banana", "cherry"})

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [42]:

x = True

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [43]:
x = b"Hello"

#display x:
print(x)

#display the data type of x:
print(type(x))

b'Hello'
<class 'bytes'>

In [44]:
x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [45]:

x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x00000212092A96C0>
<class 'memoryview'>

In [46]:

x = str("Hello World")

#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [47]:
x = int(20)

#display x:
print(x)

#display the data type of x:
print(type(x))

20
<class 'int'>

In [48]:
x = float(20.5)

#display x:
print(x)

#display the data type of x:
print(type(x))

20.5
<class 'float'>

In [49]:
x = complex(1j)

#display x:
print(x)

#display the data type of x:
print(type(x))

1j
<class 'complex'>

In [50]:

x = list(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x)) 
print(x[0])
print(len(x))

['apple', 'banana', 'cherry']
<class 'list'>
apple
3

In [51]:
x = tuple(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

('apple', 'banana', 'cherry')
<class 'tuple'>

In [52]:
x = range(6)

#display x:
print(x)

#display the data type of x:
print(type(x))

range(0, 6)
<class 'range'>

In [53]:
x = dict(name="John", age=36)

#display x:
print(x)

#display the data type of x:
print(type(x))

{'name': 'John', 'age': 36}
<class 'dict'>

In [54]:
x = set(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

{'apple', 'banana', 'cherry'}
<class 'set'>

In [55]:
x = frozenset(("apple", "banana", "cherry"))

#display x:
print(x)

#display the data type of x:
print(type(x))

frozenset({'apple', 'banana', 'cherry'})
<class 'frozenset'>

In [56]:

x = bool(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

True
<class 'bool'>

In [57]:

x = bytes(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

b'\x00\x00\x00\x00\x00'
<class 'bytes'>

In [58]:

x = bytearray(5)

#display x:
print(x)

#display the data type of x:
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [59]:
x = memoryview(bytes(5))

#display x:
print(x)

#display the data type of x:
print(type(x))

<memory at 0x000002120B316680>
<class 'memoryview'>

In [61]:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [62]:

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [63]:

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [64]:

y = 12E4
z = -87.7e100
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

120000.0
-8.77e+101
<class 'float'>
<class 'float'>
<class 'float'>

In [65]:
x = 3+5j
y = 5j
z = -5j

print(x)
print(y)
print(z)
print(type(x))
print(type(y))
print(type(z))

(3+5j)
5j
(-0-5j)
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [66]:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [69]:
import random

def display(n):
    print(n)


display(random.randrange(1, 10))

9

In [70]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [71]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [72]:

x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [73]:

print("Hello")
print('Hello')

Hello
Hello

In [74]:

a = "Hello"
print(a)

Hello

In [75]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [76]:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [77]:
a = "Hello, World!"
print(a[1])

e

In [78]:

b = "Hello, World!"
print(b[0]) #display 0th index letter
print(b[2:5]) #display 2nd to 4th pos letters
print(b[7:]) #display string from 7th pos
print(b[:6]) #display till 5th
print(b[:]) #display all letters

H
llo
World!
Hello,
Hello, World!

In [79]:

b = "Hello, World!"
print(b[-1])
print(b[-5:-2])
print(b[0:-1])
print(b[-10:-1])

!
orl
Hello, World
lo, World

In [80]:

a = "Hello, World!"
print(len(a))

13

In [81]:

#The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(len(a))
print(len(a.strip())) # returns "Hello, World!"

15
13

In [82]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [83]:
#The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [84]:

#The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "Hi"))

Hiello, World!

In [85]:

#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
a="Java C Python C++ .NET"
print(a)
l=a.split(" ")
print(l)
print("C++" in l)
print("C#" not in l)

['Hello', ' World!']
Java C Python C++ .NET
['Java', 'C', 'Python', 'C++', '.NET']
True
True

In [86]:

txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
print(x)

True

In [87]:

txt = "The rain in Spain stays mainly in the plain"
x = "ain" not in txt
print(x)

False

In [88]:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [89]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [90]:

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [91]:

#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [92]:

#The format() method takes unlimited number of arguments, and are placed into the respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [93]:

#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:


quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

myorder = "I want to pay {2} dollars for {0} pieces of item {1}. {2}"
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.
I want to pay 49.95 dollars for 3 pieces of item 567. 49.95

In [94]:
txt = "We are the so-called "Vikings" from the north."
print(txt)

#You will get an error if you use double quotes inside a string that are surrounded by double quotes:

SyntaxError: invalid syntax (916706645.py, line 1)

In [95]:

print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [96]:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [97]:

print(bool("Hello"))
print(bool(15))
print(bool(0))

True
True
False

In [98]:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [99]:

print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [100]:

bool(False)
bool(0)
bool(None)
bool("")
bool(())
bool([])
bool({})

False

In [101]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [102]:

x = 200
print(isinstance(x, int))
print(isinstance(x, bool))

True
False

In [103]:
x = 5
y = 3

print(x + y)

8

In [104]:

x = 5
y = 3

print(x - y)

2

In [105]:

x = 5
y = 3

print(x * y)

15

In [106]:
x = 12
y = 3

print(x / y)

4.0

In [107]:

x = 5
y = 2

print(x % y)

1

In [108]:

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [109]:

x = 15
y = 2

print( x / y)
print(x // y)

7.5
7

In [110]:
x = 5

print(x)

5

In [111]:

x = 5

x += 3

print(x)

8

In [112]:
x = 5

x -= 3

print(x)

2

In [113]:
x = 5

x *= 3

print(x)

15

In [114]:
x = 5

x /= 3

print(x)

1.6666666666666667

In [115]:

x = 5

x%=3

print(x)

2

In [116]:


x = 5

x//=3

print(x)

1

In [117]:

x = 5

x **= 3

print(x)

125

In [118]:
x = 5

x &= 3

print(x)

1

In [119]:
x = 5

x |= 3

print(x)

7

In [120]:
x = 5

x ^= 3

print(x)

6

In [121]:
x = 5

x >>= 3

print(x)

0

In [122]:
x = 5

x <<= 3

print(x)

40

In [123]:
x = 5

x <<= 3

print(x)

40

In [124]:

x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

In [125]:

x = 5
y = 3

print(x > y)

# returns True because 5 is greater than 3

True

In [126]:
x = 5
y = 3

print(x < y)

# returns False because 5 is not less than 3

False

In [127]:
x = 5
y = 3

print(x >= y)

# returns True because five is greater, or equal, to 3

True

In [128]:

x = 5
y = 3

print(x <= y)

# returns False because 5 is neither less than or equal to 3

False

In [129]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [130]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [131]:

x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

In [132]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y) 

# returns False because x is not the same object as y, even if they have the same content

print(x == y) 

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [133]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

In [134]:
x = ["apple", "banana"]

print("banana" in x)

# returns True because a sequence with the value "banana" is in the list

True

In [135]:
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

In [136]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [137]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [138]:
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [139]:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [140]:

#This example returns the items from the beginning to "orange":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [141]:

#This example returns the items from "cherry" and to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [142]:

#This example returns the items from index -4 (included) to index -1 (excluded)

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [143]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [144]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [145]:

#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [146]:

#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [147]:

#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [148]:

#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [149]:
#The remove() method removes the specified item:

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [150]:

#The pop() method removes the specified index, (or the last item if index is not specified):

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [151]:

#The del keyword removes the specified index:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [152]:
#The del keyword can also delete the list completely:

thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)#this will cause an error because you have succsesfully deleted "thislist".

NameError: name 'thislist' is not defined

In [153]:

#The clear() method empties the list:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [154]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [155]:

#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [156]:

#Join two list:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [157]:

#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [158]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [159]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

In [160]:

#Create a Tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [161]:
#Print the second item in the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [162]:
#Print the last item of the tuple:

thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [163]:
#Return the third, fourth, and fifth item:

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [164]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [165]:

x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [166]:
#Iterate through the items and print the values:

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [167]:

thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [168]:

#Print the number of items in the tuple:

thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [169]:
#You cannot add items to a tuple:  leads to an error

thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error
print(thistuple)

TypeError: 'tuple' object does not support item assignment

In [171]:

#One item tuple, remember the commma:

thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [172]:
#The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [173]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [174]:
#Using the tuple() method to make a tuple:

thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [175]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [176]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [177]:

#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

In [178]:
#Add an item to a set, using the add() method:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'apple', 'banana', 'orange', 'cherry'}

In [179]:
#Add multiple items to a set, using the update() method:

thisset = {"apple", "banana", "cherry"}

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'grapes', 'orange', 'cherry', 'mango', 'apple', 'banana'}

In [180]:
#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

In [181]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'apple', 'cherry'}

In [182]:
#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [183]:
#Remove the last item by using the pop() method:

thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [184]:
#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [185]:
#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

In [186]:

#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [187]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'b', 'a'}

In [188]:
#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

In [189]:
#Create and print a dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [190]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [191]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict.get("model")
print(x)

Mustang

In [192]:

#Change the "year" to 2018:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [193]:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(x)

brand
model
year

In [194]:

thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
  print(thisdict[x])

Ford
Mustang
1964

In [195]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.values():
  print(x)

Ford
Mustang
1964

In [196]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [197]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
  print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [198]:
#Print the number of items in the dictionary:

print(len(thisdict))

3

In [199]:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [200]:
#The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [201]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [202]:
#The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [203]:
#The del keyword can also delete the dictionary completely:  error

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [204]:

#The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [205]:
#Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [206]:
#Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [207]:

#Create a dictionary that contain three dictionaries:

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [208]:

child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [209]:

thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [210]:

#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [211]:

#error
a = 33
b = 200

if b > a:
print("b is greater than a")

IndentationError: expected an indented block after 'if' statement on line 5 (1827769894.py, line 6)

In [212]:

a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [213]:

a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [214]:

a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [215]:

#One line if statement:

if a > b: print("a is greater than b")

a is greater than b

In [216]:
#One line if else statement:

a = 2
b = 330
print("A") if a > b else print("B")

B

In [217]:
#This technique is known as Ternary Operators, or Conditional Expressions.
#One line if else statement, with 3 conditions:

a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [218]:
#Test if a is greater than b, AND if c is greater than a:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [219]:

#Test if a is greater than b, OR if a is greater than c:

a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [220]:

x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [221]:
a = 33
b = 200

if b > a:
  pass

# having an empty if statement like this, would raise an error without the pass statement

In [222]:

#Print i as long as i is less than 6:

i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [223]:

#Exit the loop when i is 3:

i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [224]:
#Continue to the next iteration if i is 3:

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [225]:

#Print a message once the condition is false:

i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [226]:
#Print each fruit in a fruit list:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [227]:

#Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

In [228]:
#Exit the loop when x is "banana":

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [229]:

#Exit the loop when x is "banana", but this time the break comes before the print:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [230]:
#Do not print banana:

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [231]:
#Using the range() function:

for x in range(6):
  print(x)

0
1
2
3
4
5

In [232]:
#Using the start parameter:

for x in range(2, 6):
  print(x)

2
3
4
5

In [233]:
#Increment the sequence with 3 (default is 1):

for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [234]:

#Print all numbers from 0 to 5, and print a message when the loop has ended:

for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [235]:
#Print each adjective for every fruit:

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [236]:
for x in [0, 1, 2]:
  pass

# having an empty for loop like this, would raise an error without the pass statement

In [237]:
def my_function():
  print("Hello from a function")

In [238]:

def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [239]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [240]:
#This function expects 2 arguments, but gets only 1:

def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [241]:
#If the number of arguments is unknown, add a * before the parameter name:

def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [242]:

def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [243]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [244]:

def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [245]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [246]:
def myfunction():
  pass

# having an empty function definition like this, would raise an error without the pass statement

In [247]:

#A lambda function that adds 10 to the number passed in as an argument, and print the result:

x = lambda a : a + 10
print(x(5))

15

In [248]:

#A lambda function that multiplies argument a with argument b and print the result:

x = lambda a, b : a * b
print(x(5, 6))

30

In [249]:
#A lambda function that sums argument a, b, and c and print the result:

x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [252]:
username = input("Enter username:")
print("Username is: " + username)

Username is: Sanika